html {
  font-size: 100%; }

html, body {
  width: 580px;
  height: 600px;
  overflow: auto;
  padding: 0;
  margin: 0; }

body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #3D3D3D;
  background-color: #fff; }
  body.loading {
    background-image: url(images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center; }

#popup {
  display: block;
  margin: 0 auto; }
  body.loading #popup {
    visibility: hidden; }
  #popup .toolbar {
    z-index: 50;
    position: relative;
    line-height: 2.52rem;
    margin: 0;
    padding: 0 1.5rem;
    background-color: #999; }
    #popup .toolbar .input_el {
      display: inline-block;
      height: 2.52rem; }
      #popup .toolbar .input_el input[type=radio] {
        display: none; }
        #popup .toolbar .input_el input[type=radio] + label {
          display: inline-block;
          cursor: pointer;
          margin: 0;
          padding: 0 0.75rem 0;
          font-weight: bold;
          cursor: pointer;
          color: #fff; }
          #popup .toolbar .input_el input[type=radio] + label:hover {
            color: #555; }
        #popup .toolbar .input_el input[type=radio]:checked + label {
          background-color: #eee;
          color: #3d3d3d;
          box-shadow: 0rem -0.5rem 0.5rem -0.4rem #8C8C8C; }
      #popup .toolbar .input_el.right {
        float: right;
        line-height: 2.38rem; }
      #popup .toolbar .input_el .copy-msg {
        display: none;
        position: absolute;
        top: 0;
        right: 6rem;
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: capitalize;
        color: #fff;
        margin-right: 0.75rem; }
      #popup .toolbar .input_el .button {
        display: inline-block;
        margin-left: 0.375rem; }
        #popup .toolbar .input_el .button .icon {
          display: inline-block;
          width: 1.75rem;
          height: 1.75rem;
          line-height: 2.8rem;
          vertical-align: middle; }
          #popup .toolbar .input_el .button .icon path {
            fill: #fff; }
        #popup .toolbar .input_el .button:hover .icon path {
          fill: #555; }
  #popup h1#title {
    position: relative;
    z-index: 150;
    display: none;
    font-size: 1rem;
    margin: 0;
    padding: 1.4rem 1.5rem 1rem;
    background-color: #eee;
    /*
    &:before {
        content: "\00BB";
        color:#ddd;
    }
    &:after {
        content: "\00AB";
        color:#ddd;
    }
    */ }
  #popup .content .text, #popup .content .srt, #popup .content .xml {
    padding: 1.4rem 1.5rem; }
    #popup .content .text:focus, #popup .content .text:focus, #popup .content .text:focus, #popup .content .srt:focus, #popup .content .srt:focus, #popup .content .srt:focus, #popup .content .xml:focus, #popup .content .xml:focus, #popup .content .xml:focus {
      outline: none; }
  #popup .content .text .speaker {
    display: inline-block;
    vertical-align: middle;
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
    padding: .05rem .3rem 0;
    margin-left: -0.375rem;
    margin-bottom: .3rem;
    /*text-shadow: 1px 1px 2px #ddd;*/ }
  #popup .content .speaker1 {
    background-color: #f1f4fd;
    color: #4169e1; }
  #popup .content .speaker2 {
    background-color: #fcedf1;
    color: #e14169; }
  #popup .content .speaker3 {
    background-color: #effbea;
    color: #41BE17; }
  #popup .content .speaker4 {
    background-color: #fbf5e4;
    color: #DAA504; }
  #popup .content .speaker5 {
    background-color: #e7faf6;
    color: #04C091; }
  #popup .content .speaker6 {
    background-color: #fafdf1;
    color: #b9e141; }
  #popup .content .speaker7 {
    background-color: #fdf4f1;
    color: #e16941; }
  #popup .content .speaker8 {
    background-color: #f1fafd;
    color: #41b9e1; }
  #popup .content .speaker9 {
    background-color: #c0aff2;
    color: #441db8; }
  #popup .content .speaker10 {
    background-color: #666666;
    color: #000000; }
  #popup .content .speaker11 {
    background-color: #f2c0af;
    color: #b8441d; }
  #popup .content .speaker12 {
    background-color: white;
    color: #ff7f50; }
  #popup .content .srt, #popup .content .xml {
    display: none;
    font-family: Consolas, monaco, monospace; }
  #popup .content .xml xmp {
    margin: 0; }
  #popup .source {
    margin: 1.4rem 0;
    padding: 0.7rem 1.5rem 0;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    border-top: 0.15rem solid #3D3D3D; }
    #popup .source a {
      font-weight: bold;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
